.DS_Store
.*/
*-workspace/
!.claude-plugin/
.claude-plugin/*
!.claude-plugin/marketplace.json
!.agents/
.agents/*
!.agents/plugins/
.agents/plugins/*
!.agents/plugins/marketplace.json
!plugins/*/.codex-plugin/
plugins/*/.codex-plugin/*
!plugins/*/.codex-plugin/plugin.json
!plugins/*/.claude-plugin/
plugins/*/.claude-plugin/*
!plugins/*/.claude-plugin/plugin.json
